In [1]:
import pandas as pd

In [2]:
svm = pd.read_csv('svmfile.csv')

In [3]:
pd.set_option("display.max_rows", 1000)
pd.set_option("display.max_columns",1000)

In [4]:
svm.head(20)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,198,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,139,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,217,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,380,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,50,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
10,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,55,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
11,25,services,single,high.school,no,yes,no,telephone,may,mon,222,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
12,29,blue-collar,single,high.school,no,no,yes,telephone,may,mon,137,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
13,57,housemaid,divorced,basic.4y,no,yes,no,telephone,may,mon,293,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
14,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,146,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
15,54,retired,married,basic.9y,unknown,yes,yes,telephone,may,mon,174,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
16,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,312,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
17,46,blue-collar,married,basic.6y,unknown,yes,yes,telephone,may,mon,440,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
18,50,blue-collar,married,basic.9y,no,yes,yes,telephone,may,mon,353,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
19,39,management,single,basic.9y,unknown,no,no,telephone,may,mon,195,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
svm.isna().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [6]:
svm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [7]:
svm.select_dtypes(include=['object']).columns

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'day_of_week', 'poutcome', 'y'],
      dtype='object')

In [8]:
svm.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [10]:
svm.job = le.fit_transform(svm.job)
svm.marital = le.fit_transform(svm.marital)
svm.education = le.fit_transform(svm.education)
svm.default = le.fit_transform(svm.default)
svm.housing = le.fit_transform(svm.housing)
svm.loan = le.fit_transform(svm.loan)
svm.contact = le.fit_transform(svm.contact)
svm.month = le.fit_transform(svm.month)
svm.day_of_week = le.fit_transform(svm.day_of_week)
svm.poutcome = le.fit_transform(svm.poutcome)
svm.y = le.fit_transform(svm.y)

In [11]:
from sklearn.linear_model import LogisticRegression
logreg_svm = LogisticRegression()

In [12]:
from sklearn.model_selection import train_test_split
svm_train, svm_test = train_test_split(svm,  test_size = 0.2)

In [13]:
svm_train_x = svm_train.iloc[:,:-1]
svm_train_y = svm_train.iloc[:,-1]

In [14]:
svm_test_x = svm_test.iloc[:,:-1]
svm_test_y = svm_test.iloc[:,-1]

In [15]:
print(svm_train_x.shape)
print(svm_train_y.shape)
print('-------------')
print(svm_test_x.shape)
print(svm_test_y.shape)

(32950, 20)
(32950,)
-------------
(8238, 20)
(8238,)

In [16]:
logreg_svm.fit(svm_train_x, svm_train_y)

C:\Users\shubh\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [17]:
pred_svm_test = logreg_svm.predict(svm_test_x)

In [18]:
pred_svm_test = pd.DataFrame(pred_svm_test)
pred_svm_test.head()

   0
0  0
1  0
2  0
3  0
4  0

In [19]:
svm_test_y

21286    0
39737    0
12858    0
39253    0
26927    1
        ..
17816    0
30814    0
16       0
13819    0
38793    1
Name: y, Length: 8238, dtype: int32

In [20]:
from sklearn.metrics import confusion_matrix

In [21]:
tab_svm = confusion_matrix(pred_svm_test, svm_test_y)

In [22]:
tab_svm

array([[7124,  550],
       [ 202,  362]], dtype=int64)

In [23]:
Acc = tab_svm.diagonal().sum() * 100 / tab_svm.sum()
Acc

90.87157076960428

In [24]:
tpr = 369 / (580+369)

In [25]:
tpr

0.38883034773445735

In [26]:
fpr = 184/(184+7105)

In [27]:
fpr

0.02524351762930443

In [28]:
precision = 369/(184+369)

In [29]:
precision

0.6672694394213382

## Oversampling

In [30]:
svm_train.y.value_counts()

0    29222
1     3728
Name: y, dtype: int64

In [31]:
svm.y.value_counts()

0    36548
1     4640
Name: y, dtype: int64

In [32]:
os = svm_train[svm_train.y == 1]

In [33]:
# os.y.head()

In [34]:
os.y.value_counts()

1    3728
Name: y, dtype: int64

In [35]:
svm_train1 = pd.concat([svm_train, os, os, os, os, os, os])

In [36]:
svm_train1.shape

(55318, 21)

In [37]:
svm_train1.y.value_counts()

0    29222
1    26096
Name: y, dtype: int64

In [38]:
svm_train_x = svm_train1.iloc[:,0:-1]
svm_train_y = svm_train1.iloc[:,-1]

In [39]:
svm_test_x = svm_test.iloc[:,0:-1]
svm_test_y = svm_test.iloc[:,-1]

In [40]:
from sklearn.linear_model import LogisticRegression
logreg_svm = LogisticRegression()

In [41]:
logreg_svm.fit(svm_train_x, svm_train_y)

C:\Users\shubh\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [42]:
pred_test_new = logreg_svm.predict(svm_test_x)

In [43]:
from sklearn.metrics import confusion_matrix

In [44]:
a = confusion_matrix(pred_test_new, svm_test_y)

In [45]:
a

array([[6268,  136],
       [1058,  776]], dtype=int64)

In [46]:
fpr =  a[1][0]/(a[1][0]+a[0][0])
fpr

0.14441714441714443

In [47]:
tpr = a[1][1]/(a[1][1]+a[0][1])
tpr

0.8508771929824561

In [48]:
pre = a[1][1]/sum(a[1])
pre

0.42311886586695746

In [49]:
from sklearn.metrics import f1_score
f1_score(svm_test_y, pred_test_new) #actual and then predicted

0.5651857246904588

In [50]:
from sklearn.svm import SVC

In [64]:
svc = SVC(kernel = 'linear')
svc = SVC(kernel = 'poly', degree = 5) #0.9575

In [65]:
svc.fit(svm_train_x, svm_train_y)

SVC(degree=5, kernel='poly')

In [66]:
pred = svc.predict(svm_test_x)

In [67]:
from sklearn.metrics import confusion_matrix
tab = confusion_matrix(pred, svm_test_y)
tab

array([[6187,  144],
       [1139,  768]], dtype=int64)

In [68]:
tab.diagonal().sum()/tab.sum()

0.8442583151250304