In [1]:
import pandas as pd

In [2]:
pd.set_option("display.max_rows", 101)

In [3]:
pd.set_option('display.max_columns', 101)

In [4]:
h1n1 = pd.read_csv('h1n1_vaccine_prediction.csv')

In [5]:
h1n1.head()

,unique_id,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,dr_recc_h1n1_vacc,dr_recc_seasonal_vacc,chronic_medic_condition,cont_child_undr_6_mnths,is_health_worker,has_health_insur,is_h1n1_vacc_effective,is_h1n1_risky,sick_from_h1n1_vacc,is_seas_vacc_effective,is_seas_risky,sick_from_seas_vacc,age_bracket,qualification,race,sex,income_level,marital_status,housing_status,employment,census_msa,no_of_adults,no_of_children,h1n1_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,2.0,2.0,1.0,2.0,55 - 64 Years,< 12 Years,White,Female,Below Poverty,Not Married,Own,Not in Labor Force,Non-MSA,0.0,0.0,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0,4.0,4.0,4.0,2.0,4.0,35 - 44 Years,12 Years,White,Male,Below Poverty,Not Married,Rent,Employed,"MSA, Not Principle City",0.0,0.0,0
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1.0,0.0,0.0,NaN,3.0,1.0,1.0,4.0,1.0,2.0,18 - 34 Years,College Graduate,White,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,"MSA, Not Principle City",2.0,0.0,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,NaN,3.0,3.0,5.0,5.0,4.0,1.0,65+ Years,12 Years,White,Female,Below Poverty,Not Married,Rent,Not in Labor Force,"MSA, Principle City",0.0,0.0,0
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,3.0,3.0,2.0,3.0,1.0,4.0,45 - 54 Years,Some College,White,Female,"<= $75,000, Above Poverty",Married,Own,Employed,"MSA, Not Principle City",1.0,0.0,0

In [6]:
h1n1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   unique_id                  26707 non-null  int64
 1   h1n1_worry                 26615 non-null  float64
 2   h1n1_awareness             26591 non-null  float64
 3   antiviral_medication       26636 non-null  float64
 4   contact_avoidance          26499 non-null  float64
 5   bought_face_mask           26688 non-null  float64
 6   wash_hands_frequently      26665 non-null  float64
 7   avoid_large_gatherings     26620 non-null  float64
 8   reduced_outside_home_cont  26625 non-null  float64
 9   avoid_touch_face           26579 non-null  float64
 10  dr_recc_h1n1_vacc          24547 non-null  float64
 11  dr_recc_seasonal_vacc      24547 non-null  float64
 12  chronic_medic_condition    25736 non-null  float64
 13  cont_child_undr_6_mnths    25887 non-null  float64
 14  is_health_worker           25903 non-null  float64
 15  has_health_insur           14433 non-null  float64
 16  is_h1n1_vacc_effective     26316 non-null  float64
 17  is_h1n1_risky              26319 non-null  float64
 18  sick_from_h1n1_vacc        26312 non-null  float64
 19  is_seas_vacc_effective     26245 non-null  float64
 20  is_seas_risky              26193 non-null  float64
 21  sick_from_seas_vacc        26170 non-null  float64
 22  age_bracket                26707 non-null  object
 23  qualification              25300 non-null  object
 24  race                       26707 non-null  object
 25  sex                        26707 non-null  object
 26  income_level               22284 non-null  object
 27  marital_status             25299 non-null  object
 28  housing_status             24665 non-null  object
 29  employment                 25244 non-null  object
 30  census_msa                 26707 non-null  object
 31  no_of_adults               26458 non-null  float64
 32  no_of_children             26458 non-null  float64
 33  h1n1_vaccine               26707 non-null  int64
dtypes: float64(23), int64(2), object(9)
memory usage: 6.9+ MB

In [7]:
h1n1.select_dtypes(include = 'object').head(5)

,age_bracket,qualification,race,sex,income_level,marital_status,housing_status,employment,census_msa
0,55 - 64 Years,< 12 Years,White,Female,Below Poverty,Not Married,Own,Not in Labor Force,Non-MSA
1,35 - 44 Years,12 Years,White,Male,Below Poverty,Not Married,Rent,Employed,"MSA, Not Principle City"
2,18 - 34 Years,College Graduate,White,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,"MSA, Not Principle City"
3,65+ Years,12 Years,White,Female,Below Poverty,Not Married,Rent,Not in Labor Force,"MSA, Principle City"
4,45 - 54 Years,Some College,White,Female,"<= $75,000, Above Poverty",Married,Own,Employed,"MSA, Not Principle City"

In [8]:
h1n1.qualification.value_counts()

College Graduate    10097
Some College         7043
12 Years             5797
< 12 Years           2363
Name: qualification, dtype: int64

In [9]:
h1n1.income_level.value_counts()

<= $75,000, Above Poverty    12777
> $75,000                     6810
Below Poverty                 2697
Name: income_level, dtype: int64

In [10]:
h1n1.age_bracket.value_counts()

65+ Years        6843
55 - 64 Years    5563
45 - 54 Years    5238
18 - 34 Years    5215
35 - 44 Years    3848
Name: age_bracket, dtype: int64

In [11]:
# list1 = h1n1.select_dtypes(include='object').columns
# list1 = list(list1)
# for x in list1:
#     print(x)
#     h1n1.x.value_counts()

In [12]:
h1n1.isnull().sum()

unique_id                        0
h1n1_worry                      92
h1n1_awareness                 116
antiviral_medication            71
contact_avoidance              208
bought_face_mask                19
wash_hands_frequently           42
avoid_large_gatherings          87
reduced_outside_home_cont       82
avoid_touch_face               128
dr_recc_h1n1_vacc             2160
dr_recc_seasonal_vacc         2160
chronic_medic_condition        971
cont_child_undr_6_mnths        820
is_health_worker               804
has_health_insur             12274
is_h1n1_vacc_effective         391
is_h1n1_risky                  388
sick_from_h1n1_vacc            395
is_seas_vacc_effective         462
is_seas_risky                  514
sick_from_seas_vacc            537
age_bracket                      0
qualification                 1407
race                             0
sex                              0
income_level                  4423
marital_status                1408
housing_status                2042
employment                    1463
census_msa                       0
no_of_adults                   249
no_of_children                 249
h1n1_vaccine                     0
dtype: int64

In [13]:
h1n1.shape

(26707, 34)

In [14]:
h1n1.head()

,unique_id,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,dr_recc_h1n1_vacc,dr_recc_seasonal_vacc,chronic_medic_condition,cont_child_undr_6_mnths,is_health_worker,has_health_insur,is_h1n1_vacc_effective,is_h1n1_risky,sick_from_h1n1_vacc,is_seas_vacc_effective,is_seas_risky,sick_from_seas_vacc,age_bracket,qualification,race,sex,income_level,marital_status,housing_status,employment,census_msa,no_of_adults,no_of_children,h1n1_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,2.0,2.0,1.0,2.0,55 - 64 Years,< 12 Years,White,Female,Below Poverty,Not Married,Own,Not in Labor Force,Non-MSA,0.0,0.0,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0,4.0,4.0,4.0,2.0,4.0,35 - 44 Years,12 Years,White,Male,Below Poverty,Not Married,Rent,Employed,"MSA, Not Principle City",0.0,0.0,0
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1.0,0.0,0.0,NaN,3.0,1.0,1.0,4.0,1.0,2.0,18 - 34 Years,College Graduate,White,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,"MSA, Not Principle City",2.0,0.0,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,NaN,3.0,3.0,5.0,5.0,4.0,1.0,65+ Years,12 Years,White,Female,Below Poverty,Not Married,Rent,Not in Labor Force,"MSA, Principle City",0.0,0.0,0
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,3.0,3.0,2.0,3.0,1.0,4.0,45 - 54 Years,Some College,White,Female,"<= $75,000, Above Poverty",Married,Own,Employed,"MSA, Not Principle City",1.0,0.0,0

In [15]:
h1n1.housing_status = h1n1.housing_status.fillna('Own')

In [16]:
h1n1.housing_status.isna().sum()

0

In [17]:
h1n1.housing_status.value_counts()

Own     20778
Rent     5929
Name: housing_status, dtype: int64

In [18]:
h1n1.select_dtypes(include='object').columns

Index(['age_bracket', 'qualification', 'race', 'sex', 'income_level',
       'marital_status', 'housing_status', 'employment', 'census_msa'],
      dtype='object')

In [19]:
h1n1.h1n1_worry= h1n1.h1n1_worry.fillna(h1n1.h1n1_worry.mean())
h1n1.h1n1_awareness= h1n1.h1n1_awareness.fillna(h1n1.h1n1_awareness.mean())
h1n1.antiviral_medication= h1n1.antiviral_medication.fillna(h1n1.antiviral_medication.mean())
h1n1.contact_avoidance= h1n1.contact_avoidance.fillna(h1n1.contact_avoidance.mean())
h1n1.dr_recc_h1n1_vacc = h1n1.dr_recc_h1n1_vacc .fillna(h1n1.dr_recc_h1n1_vacc .mean())
h1n1.dr_recc_seasonal_vacc   = h1n1.dr_recc_seasonal_vacc   .fillna(h1n1.dr_recc_seasonal_vacc   .mean())
h1n1.chronic_medic_condition = h1n1.chronic_medic_condition.fillna(h1n1.chronic_medic_condition           .mean())
h1n1.dr_recc_h1n1_vacc = h1n1.dr_recc_h1n1_vacc .fillna(h1n1.dr_recc_h1n1_vacc .mean())
h1n1.cont_child_undr_6_mnths = h1n1.cont_child_undr_6_mnths .fillna(h1n1.cont_child_undr_6_mnths .mean())
h1n1.is_health_worker = h1n1.is_health_worker .fillna(h1n1.is_health_worker .mean())
h1n1.is_seas_risky = h1n1.is_seas_risky .fillna(h1n1.is_seas_risky .mean())
h1n1.is_seas_vacc_effective = h1n1.is_seas_vacc_effective .fillna(h1n1.is_seas_vacc_effective .mean())
h1n1.sick_from_seas_vacc = h1n1.sick_from_seas_vacc .fillna(h1n1.sick_from_seas_vacc .mean())
h1n1.no_of_adults = h1n1.no_of_adults .fillna(h1n1.no_of_adults .mean())
h1n1.no_of_children = h1n1.no_of_children .fillna(h1n1.no_of_children .mean())
h1n1.sick_from_h1n1_vacc= h1n1.sick_from_h1n1_vacc.fillna(h1n1.sick_from_h1n1_vacc.mean())
h1n1.is_h1n1_vacc_effective= h1n1.is_h1n1_vacc_effective.fillna(h1n1.is_h1n1_vacc_effective.mean())
h1n1.is_h1n1_risky= h1n1.is_h1n1_risky.fillna(h1n1.is_h1n1_risky.mean())
h1n1.avoid_touch_face= h1n1.avoid_touch_face.fillna(h1n1.avoid_touch_face.mean())
h1n1.avoid_large_gatherings= h1n1.avoid_large_gatherings.fillna(h1n1.avoid_large_gatherings.mean())
h1n1.reduced_outside_home_cont= h1n1.reduced_outside_home_cont.fillna(h1n1.reduced_outside_home_cont.mean())
h1n1.wash_hands_frequently= h1n1.wash_hands_frequently.fillna(h1n1.wash_hands_frequently.mean())
h1n1.bought_face_mask= h1n1.bought_face_mask.fillna(h1n1.bought_face_mask.mean())

In [20]:
h1n1.isnull().sum()

unique_id                        0
h1n1_worry                       0
h1n1_awareness                   0
antiviral_medication             0
contact_avoidance                0
bought_face_mask                 0
wash_hands_frequently            0
avoid_large_gatherings           0
reduced_outside_home_cont        0
avoid_touch_face                 0
dr_recc_h1n1_vacc                0
dr_recc_seasonal_vacc            0
chronic_medic_condition          0
cont_child_undr_6_mnths          0
is_health_worker                 0
has_health_insur             12274
is_h1n1_vacc_effective           0
is_h1n1_risky                    0
sick_from_h1n1_vacc              0
is_seas_vacc_effective           0
is_seas_risky                    0
sick_from_seas_vacc              0
age_bracket                      0
qualification                 1407
race                             0
sex                              0
income_level                  4423
marital_status                1408
housing_status                   0
employment                    1463
census_msa                       0
no_of_adults                     0
no_of_children                   0
h1n1_vaccine                     0
dtype: int64

In [21]:
h1n1.employment=h1n1.employment.fillna('Employed')
h1n1.marital_status=h1n1.marital_status.fillna('Married')
h1n1.qualification=h1n1.qualification.fillna('College Graduate')
h1n1.income_level=h1n1.income_level.fillna('<= $75,000, Above Poverty')

In [22]:
h1n1 = h1n1.drop(['has_health_insur'], axis =1)

In [23]:
h1n1.isnull().sum()

unique_id                    0
h1n1_worry                   0
h1n1_awareness               0
antiviral_medication         0
contact_avoidance            0
bought_face_mask             0
wash_hands_frequently        0
avoid_large_gatherings       0
reduced_outside_home_cont    0
avoid_touch_face             0
dr_recc_h1n1_vacc            0
dr_recc_seasonal_vacc        0
chronic_medic_condition      0
cont_child_undr_6_mnths      0
is_health_worker             0
is_h1n1_vacc_effective       0
is_h1n1_risky                0
sick_from_h1n1_vacc          0
is_seas_vacc_effective       0
is_seas_risky                0
sick_from_seas_vacc          0
age_bracket                  0
qualification                0
race                         0
sex                          0
income_level                 0
marital_status               0
housing_status               0
employment                   0
census_msa                   0
no_of_adults                 0
no_of_children               0
h1n1_vaccine                 0
dtype: int64

In [24]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
h1n1[h1n1.select_dtypes(include=['object']).columns] = h1n1[h1n1.select_dtypes(include='object').columns].apply(le.fit_transform)

In [25]:
h1n1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   unique_id                  26707 non-null  int64
 1   h1n1_worry                 26707 non-null  float64
 2   h1n1_awareness             26707 non-null  float64
 3   antiviral_medication       26707 non-null  float64
 4   contact_avoidance          26707 non-null  float64
 5   bought_face_mask           26707 non-null  float64
 6   wash_hands_frequently      26707 non-null  float64
 7   avoid_large_gatherings     26707 non-null  float64
 8   reduced_outside_home_cont  26707 non-null  float64
 9   avoid_touch_face           26707 non-null  float64
 10  dr_recc_h1n1_vacc          26707 non-null  float64
 11  dr_recc_seasonal_vacc      26707 non-null  float64
 12  chronic_medic_condition    26707 non-null  float64
 13  cont_child_undr_6_mnths    26707 non-null  float64
 14  is_health_worker           26707 non-null  float64
 15  is_h1n1_vacc_effective     26707 non-null  float64
 16  is_h1n1_risky              26707 non-null  float64
 17  sick_from_h1n1_vacc        26707 non-null  float64
 18  is_seas_vacc_effective     26707 non-null  float64
 19  is_seas_risky              26707 non-null  float64
 20  sick_from_seas_vacc        26707 non-null  float64
 21  age_bracket                26707 non-null  int32
 22  qualification              26707 non-null  int32
 23  race                       26707 non-null  int32
 24  sex                        26707 non-null  int32
 25  income_level               26707 non-null  int32
 26  marital_status             26707 non-null  int32
 27  housing_status             26707 non-null  int32
 28  employment                 26707 non-null  int32
 29  census_msa                 26707 non-null  int32
 30  no_of_adults               26707 non-null  float64
 31  no_of_children             26707 non-null  float64
 32  h1n1_vaccine               26707 non-null  int64
dtypes: float64(22), int32(9), int64(2)
memory usage: 5.8 MB

In [26]:
from sklearn.model_selection import train_test_split
h1n1_train, h1n1_test = train_test_split(h1n1, test_size = 0.2, random_state = 100)

In [27]:
h1n1_train_x = h1n1_train.iloc[:,0:-1]
h1n1_train_y = h1n1_train.iloc[:,-1]

In [28]:
h1n1_test_x = h1n1_test.iloc[:,0:-1]
h1n1_test_y = h1n1_test.iloc[:,-1]

In [29]:
from sklearn.linear_model import LogisticRegression
logreg_h1n1 = LogisticRegression()

In [30]:
logreg_h1n1.fit(h1n1_train_x, h1n1_train_y)

LogisticRegression()

In [31]:
pred_test_h1n1 = logreg_h1n1.predict(h1n1_test_x)

In [32]:
from sklearn.metrics import confusion_matrix
a = confusion_matrix(pred_test_h1n1, h1n1_test_y)

In [33]:
h1n1_train.h1n1_vaccine.value_counts()

0    16814
1     4551
Name: h1n1_vaccine, dtype: int64

In [34]:
a

array([[3994,  743],
       [ 225,  380]], dtype=int64)

In [35]:
sum(a)

array([4219, 1123], dtype=int64)

In [36]:
Acc = a.diagonal().sum() * 100/ a.sum()
Acc

81.87944590041182

In [37]:
fpr =  a[1][0]/(a[1][0]+a[0][0]) * 100
fpr

5.33301730267836

In [38]:
tpr = a[1][1]/(a[1][1]+a[0][1]) * 100
tpr

33.83793410507569

In [39]:
pre = a[1][1]/sum(a[1]) * 100
pre

62.8099173553719

In [40]:
# OverSampling

In [41]:
os_h1n1 = h1n1_train[h1n1_train.h1n1_vaccine == 1]

In [42]:
h1n1_train.h1n1_vaccine.value_counts()

0    16814
1     4551
Name: h1n1_vaccine, dtype: int64

In [43]:
h1n1_train1 = pd.concat([h1n1_train, os_h1n1,os_h1n1])

In [44]:
h1n1_train1.h1n1_vaccine.value_counts()

0    16814
1    13653
Name: h1n1_vaccine, dtype: int64

In [45]:
h1n1_train_x = h1n1_train1.iloc[:,0:-1]
h1n1_train_y = h1n1_train1.iloc[:,-1]

In [46]:
h1n1_test_x = h1n1_test.iloc[:,0:-1]
h1n1_test_y = h1n1_test.iloc[:,-1]

In [47]:
from sklearn.linear_model import LogisticRegression
logreg_h1n1 = LogisticRegression()

In [48]:
logreg_h1n1.fit(h1n1_train_x, h1n1_train_y)

C:\Users\shubh\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [49]:
pred_test_h1n1_new = logreg_h1n1.predict(h1n1_test_x)

In [50]:
from sklearn.metrics import confusion_matrix
ab = confusion_matrix(pred_test_h1n1_new, h1n1_test_y)

In [51]:
ab

array([[3269,  374],
       [ 950,  749]], dtype=int64)

In [52]:
Acc = ab.diagonal().sum() * 100/ ab.sum()
Acc

75.21527517783602

In [53]:
fpr =  ab[1][0]/(ab[1][0]+a[0][0]) * 100
fpr

19.215210355987054

In [54]:
tpr = ab[1][1]/(a[1][1]+ab[0][1]) * 100
tpr

99.3368700265252

In [55]:
pre = ab[1][1]/sum(ab[1]) * 100
pre

44.084755738669806

In [56]:
from sklearn.metrics import f1_score
f1_score(h1n1_test_y, pred_test_h1n1_new) #actual and then predicted

0.5308291991495394

In [57]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(h1n1_train_x,h1n1_train_y)
pred_dt = dt.predict(h1n1_test_x)
tab_dt = confusion_matrix(pred_dt,h1n1_test_y)

In [58]:
tab_dt

array([[3573,  647],
       [ 646,  476]], dtype=int64)

In [59]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()

In [71]:
score_dtree = cross_val_score(dtree, h1n1_train_x, h1n1_train_y, cv= 10,scoring='f1')

#roc_auc (AUROC under the curve)
#'recall' - tpr
# precision
# f1
# if you do not use scoring its basically on Accuracy (default)

In [70]:
score_dtree

array([0.91091091, 0.90788161, 0.89714098, 0.90848586, 0.90703851,
       0.9076412 , 0.90105541, 0.90517241, 0.90727817, 0.90457256])